<div class="cross-side">
  <i class="far fa-times-circle"></i>
</div>
<video id='my-video' class='video-js w-100' controls autoplay preload='auto'
  poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
    <source src='<%= url_for(video.video_file) %>' type='video/mp4'>
  </video>
<p class="mt-3"><%= video.description %></p>