<%= render partial: 'layouts/ask_form' %>

<section id="head-section">
  <div class="img-wrap">
    <div class="container text-center">
      <div class="logo-wrap text-light">
        <div class="pics">
          <img class="preshow" src="<%= image_path 'logo6.png' %>">
          <img class="preshow roll" src="<%= image_path 'logo5.png' %>">
          <img class="preshow roll" src="<%= image_path 'logo4.png' %>">
          <img class="preshow roll" src="<%= image_path 'logo3.png' %>">
          <img class="preshow roll" src="<%= image_path 'logo2.png' %>">
          <img class="preshow roll last" src="<%= image_path 'logo1.png' %>">
        </div>
        <span class="text-uppercase ml-2">
          <span class="ltr preshow">v</span>
          <span class="ltr preshow">i</span>
          <span class="ltr preshow">d</span>
          <span class="ltr preshow">e</span>
          <span class="ltr preshow">o</span>
        </span>
        <span class="ltr">&#160;</span>
        <span class="ltr preshow">д</span>
        <span class="ltr preshow">л</span>
        <span class="ltr preshow">я</span>
        <span class="ltr">&#160;</span>
        <span class="text-uppercase">
          <span class="ltr preshow">в</span>
          <span class="ltr preshow">а</span>
          <span class="ltr preshow">с</span>
        </span>
      </div>
      <h1 class="text-light mt-2 display-4 title">Заказать видеоролик</h1>
      <a href="tel:++79250532139" class="btn btn-danger text-light mt-3 call-button"><i class="fas fa-phone mr-2"></i> +7 (925) 053-21-39</a>
      <div class="align-center">
        <a target="_blank" href="https://www.instagram.com/anatolii_zorin" class="mt-4 d-inline-block bg-light rounded-circle inst text-center">
          <i class="fab fa-instagram text-dark"></i>
        </a>
        <%= image_tag(image_path('inst-letters.png'), :class => 'inst-letters') %>
      </div>
    </div>
  </div>
</section>

<section id="videos-section" class="py-4">
  <div class="container">
    <div class="row">
      <% Video.video_types.keys.each do |type| %>
        <div class="col-4">
          <h4 class="title"><%= type %></h4>
          <% Video.where(video_type: type).each_with_index do |video, index| %>
            <div class="video-item <%= (index > 0 ? 'preshow' : '') %> bg-light mb-5">
              <h6><%= video.title %></h6>
              <div class="image" style="background-image: url(<%= url_for(video_preview(video)) %>)"></div>
              <% if video.vimeo_url.present? %>
                <%= link_to video.vimeo_url, class: 'play-overlay' do %>
                  <i class="fas fa-play-circle"></i>
                <% end %>
              <% else %>
                <%= link_to show_video_path(video), class: 'play-overlay', remote: true, method: :get do %>
                  <i class="fas fa-play-circle"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>