var errors = new Array();

<% record.errors.full_messages.each do |message| %>
  errors.push('<%= j render partial: 'errors.html.erb', locals: { message: message } %>');
<% end %>

$('#errors-block').empty();
$('#errors-block').append(errors);