<%= link_to 'На главную', videos_path, class: 'btn btn-primary mb-3' %>

<% @video.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
<% end %>

<%= form_with model: @video, local: true do |form| %>
  <div class="form-group">
    <%= form.label 'Категория видео' %>
    <%= form.select :video_type, Video.video_types.keys, {}, { class: 'form-control ml-3 d-inline-block w-25' } %>
  </div>
  <div class="form-group">
    <%= form.label 'Заголовок' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.label 'Описание' %>
    <%= form.text_area :description, rows: 4, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label 'Ссылка на Vimeo' %>
    <%= form.text_field :vimeo_url, class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label 'Видео' %>
        <% if @video.video_file.attached? %>
          <%= video_tag url_for(@video.video_file), controls: true, class: 'w-100 mb-3 rounded' %>
        <% end %>
        <%= form.file_field :video_file, accept: 'video/*', class: 'd-block', required: true, direct_upload: true %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label 'Превью' %>
        <%= puts @video.preview_file %>
        <% if @video.preview_file.attached? %>
          <%= image_tag @video.preview_file, class: 'w-100 mb-3 rounded' %>
        <% end %>
        <%= form.file_field :preview_file, accept: 'image/*', class: 'd-block', required: true, direct_upload: true %>
      </div>
    </div>
  </div>
  <%= form.submit (if action_name == 'new' then 'Добавить видео' elsif action_name == 'edit' then 'Сохранить изменения' end), class: 'btn btn-primary', data: { disable_with: 'Выполнениe...' } %>
<% end %>