<%= link_to 'Создать видео', new_video_path, class: 'btn btn-primary' %>

<div class="row">
  <% @videos.each do |video| %>
    <div class="col-sm-4 video-card" video-id="<%= video.id %>">
      <div class="card mt-3">
        <%= image_tag (if video.preview_file.attached? then video.preview_file else video.video_file.preview(resize: '500x500').processed end), class: 'd-block w-100 card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= video.title %></h5>
          <p class="card-text"><%= video.description.length > 50 ? video.description[0...50] + '...' : video.description %></p>
          <p class="card-text text-muted"><%= video.video_type %></p>
          <%= link_to 'Изменить', edit_video_path(video), class: 'btn btn-primary mr-2' %>
          <%= button_to 'Удалить', video_path(video), remote: true, class: 'btn btn-danger', form_class: 'd-inline-block', method: 'delete', data: { confirm: 'Удалить видео?', disable_with: 'Удаление...' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

