/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

#notify
{
  background: white;
  padding: 14px;
  z-index: 1;
  position: fixed;
  left: 50%;
  bottom: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 0 0 66px 3px rgba(0, 0, 0, 0.65);

  -webkit-transform: translate(-50%, calc(100% + 20px));
  -ms-transform: translate(-50%, calc(100% + 20px));
  -o-transform: translate(-50%, calc(100% + 20px));
  transform: translate(-50%, calc(100% + 20px));

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &.active
  {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

#body-overlay
{
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#modal
{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  background: white;
  padding: 20px;
  width: 40%;
  padding-top: 10px;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .cross-side{
    text-align: right;
    padding-bottom: 5px;
    font-size: 18px;

    i{
      cursor: pointer;
    }
  }
}

.contact-form
{
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 300px;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  border-radius: 7px 7px 0 0;
  background: #f1f1f1;

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  -webkit-transform: translateY(calc(100% - 41px));
  -ms-transform: translateY(calc(100% - 41px));
  -o-transform: translateY(calc(100% - 41px));
  transform: translateY(calc(100% - 41px));

  .side
  {
    padding: 5px 10px;
    font-size: 21px;
    color: white;
    cursor: pointer;

    .ask
    {
      font-weight: 300;

      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    .close-ask
    {
      cursor: pointer;
      display: none;
    }
  }

  &.active
  {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    .side
    {
      cursor: default;
    }

    .close-ask
    {
      display: block
    }

    .ask
    {
      display: none;
    }
  }

  form
  {
    padding: 5px 10px;

    label
    {
      margin-bottom: 3px;
    }

    input,
    textarea
    {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      border-radius: 4px;
      background: white;
      border: 1px solid #C9CAC9;
      font-size: 17px;
      padding: 5px 8px;

      &:focus
      {
        outline: none;
      }

      &.send-button
      {
        background: #646DE3;
        color: white;
      }

      &.send-button:active
      {
        background: #838de1 !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) { #modal { width: 60%; } }
@media screen and (max-width: 750px) { #modal { width: 90%; } }