// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#head-section
{
  background: black;

  .img-wrap
  {
    padding: 70px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= image_path('camera.png') %>');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 14% center;

    .logo-wrap
    {
      font-size: 2.4rem;

      .pics
      {
        display: inline-block;
        position: relative;

        img
        {
          margin-left: -36px;
          width: 70px;
          height: auto;
          opacity: 1;

          -webkit-transition: all .8s;
          -o-transition: all  .8s;
          transition: all  .8s;

          &.last
          {
            -webkit-transition: all 1600ms;
            -o-transition: all  1600ms;
            transition: all  1600ms;
          }

          &.roll
          {
            position: absolute;
            top: 0;
            left: 0;
          }

          &.preshow
          {
            opacity: 0;
            transform: translateX(-200%) rotate(-180deg);
          }
        }
      }

      .ltr
      {
        display: inline-block;
        font-size: 29px;
        font-weight: 300;
        opacity: 1;

        -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
        -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;

        &.preshow
        {
          opacity: 0;
          -webkit-transform: translateX(350%);
          -ms-transform: translateX(350%);
          -o-transform: translateX(350%);
          transform: translateX(350%);
        }
      }
    }
  }

  .title
  {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .call-button
  {
    font-size: 1.1rem;
  }

  .inst
  {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.8rem;
  }
}

.inst-letters
{
  display: inline-block;
  margin-left: 15px;
  height: 45px;
}

#videos-section
{
  .title
  {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .video-item
  {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.31);

    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;

    &.preshow
    {
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
    }

    .play-overlay
    {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(187, 176, 184, 0.5);
      opacity: 0;
      cursor: pointer;

      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      i
      {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3.8rem;
        color: #212529;
        -webkit-transform: translate(-50%, -50%) scale(1.3);
        -ms-transform: translate(-50%, -50%) scale(1.3);
        -o-transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.3);

        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
      }
    }

    &:hover
    {
      .play-overlay
      {
        opacity: 1;

        i
        {
          -webkit-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          -o-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    h6
    {
      padding: 10px;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 300;
      height: 70px;
    }

    img
    {
      width: 100%;
      height: auto;
      max-height: 200px;
    }

    .image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}