<div class="contact-form">
  <div class="side bg-danger">
    <span class="ask">Задать вопрос</span>
    <i class="close-ask far fa-times-circle "></i>
  </div>
  <%= form_with :scope => :sender, :url => main_ask_question_path do |form| %>
    <%= form.label 'Ваше имя' %>
    <%= form.text_field :fname, required: true %>

    <%= form.label 'Ваша почта' %>
    <%= form.email_field :email, required: true%>

    <%= form.label 'Ваш вопрос' %>
    <%= form.text_area :body, required: true %>

    <%= form.submit 'Отправить', class: 'send-button', data: { disable_with: 'Отправка...' } %>
  <% end %>
</div>