<!DOCTYPE html>
<html>
  <head>
    <title>Videos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <div class="container pt-4">
      <% if flash.any? %>
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>" role="alert">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <div id="errors-block"></div>
      <%= yield %>
    </div>
  </body>
</html>
